.companyCard{
    display: flex;
    width: 700px;
    align-items: center;
    margin: 10px;
}
@media (max-width: 1514px){
    .companyCard{
        display: flex;
        width: 100%;
        align-items: center;
        margin: 10px;
    }
}
.companyCard h3{
    margin: 0 !important;
}
.companyAvatarContainer{
    align-self: flex-start;
}
.companyLogo{
    height: 80px;
    width: 80px;
    background: white;
    padding: 5px;
    border-radius: 50%;
}
.jobDescription{
    text-align: left;
    padding: 15px;
}
.description{
    font-weight: 100;
}
.description ul{
    margin: 0;
    padding-left: 15px;
    line-height: 1.5rem;
}