.contatoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.contatoContainer ul{
    padding: 0;
}
.contatoButtons ul{
    display: flex;
    justify-content: center;
    align-content: center;
}
.contatoButtons li{
    margin: 5px;
}
