* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: #999999;
}

::-webkit-scrollbar-thumb {
  background: #384553;
}

::-webkit-scrollbar-thumb:hover {
  background: #8C8F93;
}
::-moz-selection { 
	color: #252734;
	background:white;
}
::selection { 
	color: #252734;
	background: white;
}
button{
  background: transparent;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  margin-right: 5px;
  cursor: pointer;
}
.buttonHover{
  transition: all 0.1s ease-in !important;
}
.buttonHover:hover{
  background: white;
  color: #252734;
  transition: all 0.1s ease-in !important;
}

.App {
  background-image: linear-gradient(rgba(13, 13, 13, .7), rgba(13, 13, 13, .55)), url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  background-color: rgba(26, 26, 26, 0.3);
  backdrop-filter: blur(4px);
  width: 50vw;
  min-height: 400px;
  color: white;
  padding: 20px;
  margin-left: 15px;
}

/*breakpoint mobile */
@media (max-width: 1215px){
  .App{
    flex-direction: column;
    padding: 25px;
  }
  .container{
    width: 90vw;
  }
}